<h1>サークル紹介</h1>

<div class="card" style="width: 100%;">
  <img src="..." class="card-img-top" alt="集合写真">
  <div class="card-body">
    <h5 class="card-title">サッカー</h5>
    <p class="card-text">サッカーサークル！</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


